// ------------------ footer ------------------//
.footer-container {
  display: flex;
  width: 100%;
  min-height: 200px;
  background-color: var(--footer-background);

  .info-container {
    padding: 1rem;
    width: 100%;
    margin: auto;

    .info-content {
      display: flex;
      justify-content: space-evenly;

      .information {
        margin: 1rem 0;

        &.logo-container {
          margin: auto 0;

          img {
            transform: scale(.8);
          }
        }

        .information-tile {
          font-size: 18px;
          font-weight: 600;
        }

        .information-list {
          margin-top: 0.5rem;
        }

      }
    }
  }

  .icon-control {
    margin: 0.5rem auto;



    svg {
      width: 18px;
      height: 18px;
      fill: var(--footer-text-color);
      margin-left: 0.5rem;
    }
  }

  li {
    font-size: 14px;
    color: var(--footer-text-color);

    a {
      font-size: 14px;
      color: var(--footer-text-color);
    }
  }
}

@media screen and (max-width: 375px) {
  footer {
    display: none;
  }
}